// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#dog{
	background: url(/assets/dog.jpg);
	width: 200px;
	height: 150px;
}